h4, p, h1{
    text-align: center;
    color: black;
}
.card{
    width: 30rem;
    font-size: 200%;
    background-image: url(https://image.freepik.com/vecteurs-libre/rayures-vintage-cirque-fond_23-2147535890.jpg);
    font-style: gras;
    background-position: right 45% bottom 10%;
}
.card-image{
width: 100%;
height: 100%;
border-radius: 6% 6% 0% 0%;
}