/* You can add global styles to this file, and also import other style files */
html, body{
    background-image: url(https://ae01.alicdn.com/kf/HTB1s.wSSXXXXXXHXXXXq6xXFXXXj/10x10FT-carnaval-cirque-rouge-tente-drapeaux-sc-ne-toiles-enfants-personnalis-photographie-Studio-d-cors-fond.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
