.container{
    align-content: center;
}
.jumbotron{
    font-size: 200%;
    margin-top: 3em;
    align-content: center;
    align-items: center;
    background-image: url(https://image.freepik.com/vecteurs-libre/rayures-vintage-cirque-fond_23-2147535890.jpg);
    font-style: gras;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right 45% bottom 10%;
}
h2, label{
    text-align: center;
}